@*<ul class="navbar-nav my-lg-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="~/assets/images/logo/as-icon.png" alt="user" class="profile-pic" /></a>
            <div class="dropdown-menu dropdown-menu-right animated flipInY">
                <ul class="dropdown-user">
                    <li>
                        <div class="dw-user-box">
                            <div class="u-img"><img src="~/assets/images/logo/as-icon.png" alt="user"></div>
                            <div class="u-info">
                                <h4 class="c-m-0">Administrator</h4>
                                <p class="text-muted">Acara Seru Administrator</p>
                            </div>
                        </div>
                    </li>
                    <li><a href="@Url.Action("LogOff", "Account")"><i class="fa fa-power-off"></i> Logout</a></li>
                </ul>
            </div>
        </li>
    </ul>*@